*{padding: 0px; margin: 0px; box-sizing: border-box; word-wrap: break-word; }
.header{padding: 30px;color: white; background: plum; position: relative;
& img{width: 100px;}

}
.title{position: absolute; right: 100px; top: 30px; font-size: 4vw;}
.menu{background: red; display: flex; padding: 15px; margin-top: 5px;}
.nav{display: flex; gap: 40px; margin-top: 5px;
    & a{text-decoration: none;}
}
.btn{display: flex; background: none; border: none;flex-direction: column;  }
.bar{display: flex; background: black; width: 40px; height: 3px; margin-top: 5px;}
.prow{background: none; padding: 50px; font-size: 4vw; font-weight: bold; text-align: center;}

.center{display: grid; grid-template-columns: 20% auto ; gap: 10px;}
.left{background: orange; margin-top: 30px;}
.left ul{list-style: none; margin-top: 30px;}
.left li{background: blue;padding: 10px;  text-align: center; margin-top: 5px;}
.left .mylist {background: lightcoral; font-size: 4vh; color: white;}

.right{background: rgb(243, 147, 229); margin-top: 30px;} 
   /* (picture overflow in cond more image) */
.prod{display: flex; grid-template-columns: auto auto auto auto; gap: 8px; margin-top: 30px;}
.products{border: 2px solid black; 
& img{height: auto; width: 100%; max-width: 100%;}
}
.content{text-align: center; line-height: 30px;padding: 20px; color: white; font-size: larger;
& button{background: red; color: white; padding: 20px 20px; border-radius: 50%; margin-top: 20px;}
}

.prod2{ background: rgb(225, 75, 128); margin-top: 30px;}
.produce{ border: 2px solid black;
& img{margin-top: 20px; margin-left: 100px;}
}

.footer{background: black; color: white; text-align: center; font-size: larger; padding: 10px;}














@media only screen and (max-width:1200px){
  .prow{grid-template-columns: auto auto auto; }
}

@media only screen and (max-width:992px){
    .title{right: 50px;}
    .center{grid-template-columns: 30% auto;}
      .prow{grid-template-columns: auto auto; }
}

@media only screen and (max-width:768px){
    .header{text-align: center;}
    .title{position: static; margin-top: 30px; text-align: center;}
.btn{display: flex; }
.nav{display: none;}
.menu{justify-content:end;}
 .center{grid-template-columns: auto;}
   .prow{grid-template-columns:auto; }

}